<!DOCTYPE html>
<html lang="{% if locale == 'es' %}es{% else %}en-US{% endif %}">
<head>
{% include "partials/head.njk" %}
</head>
<body>
{% include "partials/header.njk" %}
{% include "partials/draft-banner.njk" %}
<main id="main">
{{ content | safe }}
</main>
{% include "partials/footer.njk" %}
{% if extraScripts %}{{ extraScripts | safe }}{% endif %}
<script type="text/javascript" src="//cdn.callrail.com/companies/749037729/b0409713adcd687c607b/12/swap.js"></script>
</body>
</html>
