---
layout: layouts/base.njk
locale: es
title: "Documentos | Downwinders Advocates"
description: ""
permalink: /es/documents/
---
<section class="sec">
  <div class="wrap stack">
    <h1>Documentos</h1>
    <div class="btns">
      <a class="btn" href="/es/check/">Verificar elegibilidad</a>
      <a class="btn btn--ghost" href="/es/contact/">Hable con un especialista</a>
    </div>
  </div>
</section>
