---
layout: layouts/base.njk
locale: es
title: "Hermanos | Downwinders Advocates"
description: ""
permalink: /es/siblings/
---
<section class="sec">
  <div class="wrap stack">
    <h1>Hermanos</h1>
    <div class="btns">
      <a class="btn" href="/es/check/">Verificar elegibilidad</a>
      <a class="btn btn--ghost" href="/es/free-help/">Ayuda gratuita</a>
    </div>
  </div>
</section>
