---
layout: layouts/base.njk
locale: es
title: "Sobrevivientes | Downwinders Advocates"
description: ""
permalink: /es/survivors/
---
<section class="sec">
  <div class="wrap stack">
    <h1>Sobrevivientes</h1>
    <div class="btns">
      <a class="btn" href="/es/check/">Verificar elegibilidad</a>
      <a class="btn btn--ghost" href="/es/free-help/">Ayuda gratuita</a>
    </div>
  </div>
</section>
